@import url('https://fonts.googleapis.com/css?family=Montserrat:500,800,900');
html,
body,
header,
footer,
.description-all {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 110%;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curriculum{
    display: flex;
    flex-direction: column;
}

.img-top {
    border-radius: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}